<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411970310346-i9537o7ppksmibnc59a11fusqeui8p6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411970310346-i9537o7ppksmibnc59a11fusqeui8p6f</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ-ieT_wAyMcO6Iqb8R5VdJK0ukRRdR-0</string>
	<key>GCM_SENDER_ID</key>
	<string>411970310346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp3</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-5b3e5</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-5b3e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411970310346:ios:ac731a5ceb4874ad78e433</string>
</dict>
</plist>